@media screen and (max-width:1200px) {
    .hamburger .hamimg {
        display: block;
    }
    .nav .ico {
        display: none;
    }
    .nav .nav__items {
        display: none;
    }
    /* .features__background {
        width: auto;
        height: 100%;
        overflow: hidden;
      } */
}
@media screen and (max-width:990px) {
    .home__background {
        display: block;
    }
    .home .left {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .left .img {
        width: 90%;
        height: auto;
        /* overflow: unset; */
    }
    .home .right {
        width: 100%;
        display: flex;
        /* flex-direction: row; */
        justify-content: center;
        align-items: center;
    }
    .home .right .h2 {
        left: 10px;
        /* text-align: center; */
    }
    .home .right .a {
        margin: 20px 0;
    }
    .home__background .a {
        width: 26%;
        font-size: 13px;
        font-weight: 700;
        color: white;
        display: inline-block;
        letter-spacing: 4px;
        margin: 40px 0 0 15%;
        padding: 8px 21px 8px 21px;
        background-color: black;
        text-decoration: none;
        border: 2px solid black;
        transition: all 0.3s ease-in-out;
    }
    .home__background .a:hover {
        background-color: white;
        color: black;
    }
} 
@media screen and (max-width:1080px) {
    .features {
        flex-direction: column;
        align-items: center;
    }
    .features__background {
        width: 100%;
        height: auto;
    }
}